/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import "@material/fab/mdc-fab";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    overflow-x: hidden;
}

html {
    font-family: Roboto, sans-serif;
}

.mdc-fab {
    @include mdc-fab-container-color(#3126FF);
    transition: 300ms !important;
    transform: translateY(0);
    &.upload {
        transform: translateY(-200%);
        animation: fab-drop 2000ms infinite ease;
        animation-delay: 300ms;
        overflow: visible;
        &::before {
            position: absolute;
            background: #6200EE;
            animation: fab-waves 1000ms infinite ease;
            z-index: -1;
        }
    }
    &.fab-indigo {
        @include mdc-fab-container-color(#6200EE);
    }
}

@keyframes fab-drop {
    0% {
        transform: translateY(-200%);
    } 50% {
        transform: translateY(-220%);
    } 100% {
        transform: translateY(-200%);
    }
}

@keyframes fab-waves {
    from {
        transform: scale(0);
        opacity: 0.8;
    } to {
        transform: scale(1.4);
        opacity: 0;
    }
}
