@import '~@material/image-list/mdc-image-list';
@import '../../styles/vars';

:host {
    flex: 1;
}

.gallery-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    .gallery-list-item {
        position: relative;
    }
    .gallery-list-img {
        &::before {
            content: '';
            display: block;
            padding-top: 100%;
        }
        border-radius: 0.5rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .gallery-list-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.5rem;
    }
}

.add-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 2px #3126FF;

    i {
        font-size: 64px;
        color: #3126FF;
    }
}

.empty-album {
    color: white;
    position: absolute;
    padding: 1rem;
    background: black;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
    top: 0;
}

.favorite {
    cursor: pointer;
    user-select: none;
    background: linear-gradient(to left, rgba(240, 240, 240, 1) 70%, rgba(240, 240, 240, 0) 100%);
    position: absolute;
    right: 0;
    padding-left: 1rem;
    .active {
        color: $topaz;
    }
}
