<ul class="mdc-image-list my-image-list album">
    <ng-container *ngFor="let album of appService.albums; let i = index;">
        <li class="mdc-image-list__item" *ngIf="album" [ngClass]="{'selected': appService.selected[i]}">
            <div class="select">
                <i class="material-icons" (click)="appService.selectToggle(i, album._id)">check_circle</i>
            </div>
            <div class="mdc-image-list__image-aspect-container"
                 (click)="albumClick(i, album?._id)">
                <img class="mdc-image-list__image" [src]="album.preview || '/assets/img/e36.jpg'">
                <span class="empty-album" *ngIf="!album.preview">This album is empty. Consider adding some pics</span>
            </div>
            <div class="mdc-image-list__supporting">
                <span class="mdc-image-list__label">{{album?.title}}</span>
                <span class="favorite" (click)="favorite(album._id, i)">
                    <i class="material-icons" [ngClass]="{'active': album?.favorite}">{{album?.favorite ? 'favorite' : 'favorite_border'}}</i>
                </span>
            </div>
        </li>
    </ng-container>
</ul>

<button class="mdc-fab app-fab--absolute"
        [ngClass]="{'fab-indigo': appService.isSelected}"
        (click)="fabAction()"
        aria-label="Add album">
    <span class="mdc-fab__icon material-icons" *ngIf="!appService.isSelected">add</span>
    <span class="mdc-fab__icon material-icons" *ngIf="appService.isSelected">delete</span>
</button>
