<ul class="mdc-image-list my-image-list album">
    <li class="mdc-image-list__item add-button">

            <div class="mdc-image-list__image-aspect-container"
                 [routerLink]="['/album']">
                <div class="add-wrap">
                    <i class="material-icons">add</i>
                </div>
            </div>

            <div class="mdc-image-list__supporting">
                <span class="mdc-image-list__label">New album</span>
            </div>

    </li>
    <ng-container *ngFor="let album of albums; let i = index;">
        <li class="mdc-image-list__item" *ngIf="album" [ngClass]="{'selected': appService.selected[i]}">
            <div class="select">
                <i class="material-icons" (click)="selectToggle(i)">check_circle</i>
            </div>
            <div class="mdc-image-list__image-aspect-container"
                    [routerLink]="['/album', album?._id]">
                <img class="mdc-image-list__image" src="https://www.placecage.com/c/200/300">
            </div>
            <div class="mdc-image-list__supporting">
                <span class="mdc-image-list__label">{{album?.title}}</span>
                <span class="favorite">
                    <i class="material-icons" [ngClass]="{'active': album?.fav}">{{album?.fav ? 'star' : 'star_border'}}</i>
                </span>
            </div>
        </li>
    </ng-container>

</ul>
