<ul class="mdc-image-list my-image-list album">
    <li class="mdc-image-list__item add-button">

            <div class="mdc-image-list__image-aspect-container"
                 [routerLink]="['/album']"
                 [queryParams]="{'new': true}">
                <div class="add-wrap">
                    <i class="material-icons">add</i>
                </div>
            </div>

            <div class="mdc-image-list__supporting">
                <span class="mdc-image-list__label">New album</span>
            </div>

    </li>

    <li class="mdc-image-list__item" *ngFor="let album of albums">

        <div class="mdc-image-list__image-aspect-container"
             [routerLink]="['/album']"
             [queryParams]="{'id': album._id}">
            <img class="mdc-image-list__image" src="https://www.placecage.com/c/200/300">
        </div>

        <div class="mdc-image-list__supporting">
            <span class="mdc-image-list__label">{{album.title}}</span>
            <span class="favorite">
                <i class="material-icons" [ngClass]="{'active': album.fav}">{{album.fav ? 'star' : 'star_border'}}</i>
            </span>
        </div>

    </li>
</ul>
