@import "@material/icon-button/mdc-icon-button";

:host {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 56px 1fr;
    min-height: 100vh;
}

header {
    position: sticky;
    background: #ffffff;
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.1);
    display: flex;
    align-items: center;

    .delete {
        margin-left: auto;
    }

    .header-button {
        padding: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        button {
            position: absolute;
            cursor: pointer;
            outline: none;
        }
    }
    .title {
        font-family: 'Roboto Mono', sans-serif;
        font-size: 24px;
    }
}

main {
    background: #f0f0f0;
    padding: 20px;
    display: flex;
}
