@import "~@material/icon-button/mdc-icon-button";
@import '../styles/vars';

:host {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100vh;
    background: #f0f0f0;

    @include mobile {
        grid-template-rows: 3rem 1fr;
    }

    @include hd-desktop {
        grid-template-rows: 4rem 1fr;
    }
}

::ng-deep {
    .app-fab--absolute {
        position: fixed;

        @include mobile {
            right: 2rem;
            bottom: 2rem;
            margin: auto;
            z-index: 10;
        }

        @include fullhd-desktop {
            right: 0;
            left: 0;
            bottom: 4rem;
            margin: auto;
            z-index: 10;
        }
    }

    .check-wrapper {
        .circle {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            background: $indigo;
            box-shadow: 0 0 0 0.25rem #f0f0f0;
            position: absolute;
        }

        svg {
            position: absolute;
            transform: translate(5%, 4%);
        }
    }

    li.gallery-list-item, li.photo-list-item {
        outline: none;
        user-select: none;
        transition: transform 150ms;
        transform-origin: 50% 40px;
        .mdc-image-list__image-aspect-container, .photo {
            cursor: pointer;

            &::before {
                content: '';
                background: url('/assets/img/check.svg') no-repeat;
                width: 3rem;
                height: 3rem;
                z-index: 2;
                position: absolute;
                display: none;
                top: -10px;
                left: -11px;
            }
        }

        &:hover > .select,
        &:hover > .photo-list-title,
        &:hover > .gallery-list-content {
            opacity: 1;
        }

        &.selected {
            transform: scale(0.90);
            .select {
                opacity: 1;
                background: none;

                i {
                    color: #FF3366;
                    background: #f0f0f0;
                    border-radius: 50%;
                    box-shadow: 0 0 0 4px #f0f0f0;
                }
            }
            .mdc-image-list__image-aspect-container, .photo {
                &::before {
                    display: block;
                }
            }
        }
    }

    .select {
        position: absolute;
        z-index: 10;
        cursor: pointer;
        transition: opacity 100ms;
        padding: 0.5rem;
        left: 0;
        right: 0;
        opacity: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
        color: rgba(255, 255, 255, 0.7);
        border-radius: 0.5rem 0.5rem 0 0;

        i {
            transition: opacity 100ms;
        }

        i:hover {
            color: rgba(255, 255, 255, 1);
        }
    }

    .photo-list-title {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 2px;
        padding: 0.5rem;
        color: #ffffff;
        opacity: 0;
        transition: opacity 100ms;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
        word-break: break-all;
        border-radius: 0 0 0.5rem 0.5rem;
    }

}
header {
    position: relative;
    display: flex;
    flex-flow: column;
    z-index: 11;
}
.header {
    position: fixed;
    background: #ffffff;
    box-shadow: 0 0px 0.5rem 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    border-radius: 0 0 1rem 1rem;
    transition: 200ms ease;
    box-sizing: border-box;
    width: 100%;

    @include mobile {
        padding: 0 0.5rem;
    }

    @include hd-desktop {
        padding: 0.5rem 2rem;
    }

    &.indigo {
        background: $indigo;
        color: #ffffff;
    }

    .delete {
        margin-left: auto;
    }

    .header-button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        button {
            cursor: pointer;
            outline: none;
        }
    }

    .title {
        font-family: 'Roboto Mono', sans-serif;
        @include mobile {
            font-size: 1rem;
        }

        @include hd-desktop {
            font-size: 1.5rem;
        }
    }

    .potato {
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        font-size: 1.5rem;
        width: 3rem;
        height: 3rem;
        padding: 0.75rem;
    }
}

main {
    display: flex;
    max-width: 100vw;
    box-sizing: border-box;

    @include mobile {
        padding: 1rem;
    }

    @include hd-desktop {
        padding: 2rem;
    }
}
