<header>
    <div class="header" [ngClass]="{'indigo': appService.isSelected}">
        <div class="header-button">
            <button *ngIf="router.url !== '/gallery' && !appService.isSelected"
                    routerLink="/"
                    class="mdc-icon-button material-icons">arrow_back
            </button>
            <button *ngIf="appService.isSelected"
                    class="mdc-icon-button material-icons"
                    (click)="appService.clearSelection()">close
            </button>

            <div *ngIf="router.url === '/gallery' && !appService.isSelected" class="potato">🥔</div>
        </div>
        <span class="title">
            <span>{{appService.isSelected ? 'Selected: ' : appService.title }}</span>
            <span *ngIf="appService.isSelected">{{appService.isSelected}}</span>
        </span>
        <potato-search-bar></potato-search-bar>
    </div>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer></footer>



