<!--The content below is only a placeholder and can be replaced.-->
<header>

    <span class="header-button" >
        <button *ngIf="router.url != '/gallery'"
                routerLink="/"
                class="mdc-icon-button material-icons">arrow_back</button>
    </span>
    <span class="title">
        {{appService.title}}
    </span>
    <span *ngIf="appService.isSelected" class="header-button delete" (click)="deleteItems()">
        <button class="mdc-icon-button material-icons">delete</button>
    </span>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer></footer>



