$indigo: #6200EE;
$black: #050505;
$blue: #3126FF;
$topaz: #A63D40;
$background: #f0f0f0;

$mobile-width: 300px;
$tablet-width: 768px;
$hd-desktop-width: 1280px;
$fullhd-desktop-width: 1980px;
$qhd-desktop-width: 2560px;

@mixin mobile {
    @media (min-width: #{$mobile-width}) {
        @content;
    }
}

@mixin hd-desktop {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin fullhd-desktop {
    @media (min-width: #{$hd-desktop-width}) {
        @content;
    }
}

@mixin qhd-desktop {
    @media (min-width: #{$fullhd-desktop-width}) {
        @content;
    }
}
