@import '@material/textfield/mdc-text-field';
@import '@material/image-list/mdc-image-list';
@import "@material/button/mdc-button";

:host {
    flex: 1;position: relative;
}
.my-masonry-image-list {
    @include mdc-image-list-masonry-columns(6);

    @media screen and (max-width: 1280px) {
        @include mdc-image-list-masonry-columns(4);
    }
    @media screen and (max-width: 700px) {
        @include mdc-image-list-masonry-columns(2);
    }
}

.manage {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 32px;
    .file-input {
        label {
            margin-left: 24px;
        }
        input {
            display: none;
        }
    }

}

.drop-here {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    top: 20px;
    z-index: 999;
    background: rgba(49, 38, 255, 0.25);
    border-radius: 16px;

    .txt {
        font-family: Roboto Mono;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 40px;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 16.5rem;
        height: 9rem;
        background: #6200EE;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
    }
}

li {
    outline: none;
    cursor: pointer;
    .mdc-image-list__image-aspect-container {
        cursor: pointer;
    }
    .mdc-image-list__image {
        transition: opacity 200ms;
    }
    &.active {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,0,0,1);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            position: fixed;
            width: 50%;
            box-shadow: 4px 8px 5px 0 rgba(0,0,0,0.1);
        }
    }
}

.img-preload {
    width: 264px;
    height: 200px;
    opacity: 0.5;
    animation: preload 1500ms infinite ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;

    i {
        color: #808080;
        font-size: 80px;
    }
}

@keyframes preload {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
