<div class="drop-here" *ngIf="showDropOff" (dragend)="dragend($event)" (dragleave)="dragend($event)">
    <div class="txt">
        <span>
            Drop 'em here to upload
        </span>
    </div>
</div>

<div class="full-size" *ngIf="fullSize.src">
    <div class="header-clone">
        <button class="mdc-icon-button material-icons"
                (click)="fullSize = {}">arrow_back
        </button>
        <div class="title">{{fullSize.title}}</div>
    </div>

    <img [src]="fullSize.src" alt="">
</div>

<div class="manage">
    <div class="file-input">
        <input type="file" id="file" (change)="load($event.target.files)" accept=".jpg" multiple>
    </div>
    <div class="mdc-text-field mdc-text-field--fullwidth">
        <input class="mdc-text-field__input"
               [(ngModel)]="title"
               id="title"
               type="text"
               placeholder="Album title">
        <div class="mdc-line-ripple"></div>
    </div>
</div>

<ul class="photo-list">
    <ng-container *ngFor="let photo of appService.album?.photos; let i = index">
        <li class="photo-list-item"
            *ngIf="appService.album && appService.album?.photos[i]"
            [ngClass]="{'active': active[i], 'selected': appService.selected[i]}">
            <div class="select" *ngIf="!active[i] && !appService.selected[i] && !mobileService.isMobile">
                <i class="material-icons" (click)="appService.selectToggle(i, photo._id)">check_circle</i>
            </div>
            <div class="img-preload" *ngIf="!imgLoaded[i]">
                <i class="material-icons">photo_size_select_actual</i>
            </div>

            <div class="photo" (click)="photoClick(i, photo)" (contextmenu)="longPress( i, photo )">
                <img class="photo-list-img"
                     [src]="photo?.src"
                     (load)="imgLoaded($event, i)">
            </div>

            <div class="photo-list-title" *ngIf="!mobileService.isMobile">
                {{photo?.title}}
            </div>
        </li>
    </ng-container>
</ul>

<button class="mdc-fab app-fab--absolute"
        (click)="fabAction()"
        [ngClass]="{'upload': showDropOff, 'fab-indigo': appService.isSelected || showDropOff}">

    <span class="mdc-fab__icon material-icons"
          *ngIf="!showDropOff && !appService.isSelected">add</span>
    <span class="mdc-fab__icon material-icons" *ngIf="appService.isSelected">delete</span>
    <span class="mdc-fab__icon material-icons" *ngIf="showDropOff">arrow_upward</span>
</button>

<div class="mdc-snackbar"
     aria-live="assertive"
     aria-atomic="true"
     aria-hidden="true">
    <div class="mdc-snackbar__text"></div>
    <div class="mdc-snackbar__action-wrapper">
        <button type="button" class="mdc-snackbar__action-button"></button>
    </div>
</div>
