<div class="drop-here" *ngIf="showDropOff" (dragend)="dragend($event)" (dragleave)="dragend($event)">
    <div class="txt">
        <span>
            Drop 'em here to upload
        </span>
    </div>
</div>

<div class="manage">
    <button (click)="save()" class="mdc-button mdc-button--raised">
        Save
    </button>
    <div class="file-input">
        <input type="file" id="file" (change)="load($event.target.files)" accept=".jpg" multiple>
    </div>
    <div class="mdc-text-field mdc-text-field--fullwidth">
        <input class="mdc-text-field__input"
               [(ngModel)]="title"
               type="text"
               placeholder="Album title">
        <div class="mdc-line-ripple"></div>
    </div>
</div>

<div class="photos-wrapper">
    <ul class="mdc-image-list mdc-image-list--masonry photos-list">

        <li class="mdc-image-list__item"
            *ngFor="let img of imgArray; let i = index"

            [ngClass]="{active: active[i]}">

            <div *ngIf="!img.src" class="img-preload">
                <i class="material-icons">photo_size_select_actual</i>
            </div>

            <div class="photo" (click)="photoClick(i)">
                <img class="mdc-image-list__image" [src]="img?.src" [ngStyle]="{opacity: img.src ? 1 : 0}">
            </div>

            <div class="mdc-image-list__supporting">
                <span class="mdc-image-list__label">{{img?.title}}</span>
            </div>
        </li>
    </ul>

    <ul class="mdc-image-list mdc-image-list--masonry photos-list">
        <ng-container *ngFor="let photo of appService.album?.photos; let i = index">
            <li class="mdc-image-list__item"
                *ngIf="appService.album && appService.album?.photos[i]"
                [ngClass]="{'active': active[i], 'selected': appService.selected[i]}">
                <div class="select" *ngIf="!active[i] && !appService.selected[i]">
                    <i class="material-icons" (click)="appService.selectToggle(i, photo._id)">check_circle</i>
                </div>
                <div class="img-preload" *ngIf="!imgLoaded[i]">
                    <i class="material-icons">photo_size_select_actual</i>
                </div>

                <div class="photo" (click)="photoClick(i, photo?._id)">
                    <img class="mdc-image-list__image"
                         [src]="photo?.src"
                         (load)="imgLoaded($event, i)">
                </div>


                <div class="mdc-image-list__supporting">
                    <span class="mdc-image-list__label">{{photo?.title}}</span>
                </div>

            </li>
        </ng-container>
    </ul>
</div>

<button class="mdc-fab app-fab--absolute"
        (click)="fabAction()"
        [ngClass]="{'upload': showDropOff, 'fab-indigo': appService.isSelected || showDropOff}">

    <label class="mdc-fab__icon material-icons"
           for="file"
           *ngIf="!showDropOff && !appService.isSelected">add</label>
    <span class="mdc-fab__icon material-icons" *ngIf="appService.isSelected">delete</span>
    <span class="mdc-fab__icon material-icons" *ngIf="showDropOff">arrow_upward</span>
</button>
